﻿<%@ Page Title="Sale Page" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="MyOB.Web._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Sale 
    </h2>
   <br />
     <asp:GridView ID="gridList" runat="server">
        </asp:GridView>
    
<%--   <asp:GridView ID="gridList" runat="server" AutoGenerateColumns="False" 
        BackColor="White" BorderColor="#CCCCCC" BorderStyle="None" BorderWidth="1px" 
        CellPadding="3">
        <Columns>
           
            <asp:TemplateField>
                <HeaderTemplate>
                Invoice No.
                </HeaderTemplate>
                <ItemTemplate>
                    <%#Eval("InvoiceNumber")%>
                </ItemTemplate>
            </asp:TemplateField>

            <asp:TemplateField>
                <HeaderTemplate>
               Date.
                </HeaderTemplate>
                <ItemTemplate>
                    
                      <%# Eval("InvoiceDate", "{0:dd-MMM-yyyy}") %>
                </ItemTemplate>
            </asp:TemplateField>

          
              <asp:TemplateField>
                <HeaderTemplate>
               Total Lines
                </HeaderTemplate>
                <ItemTemplate>
                    <%#Eval("OutStandingBalance")%>
                </ItemTemplate>
            </asp:TemplateField>

             <asp:TemplateField>
                <HeaderTemplate>
               amount
                </HeaderTemplate>
                <ItemTemplate>
                    <%#Eval("TotalPaid")%>
                </ItemTemplate>
            </asp:TemplateField>

            
             <asp:TemplateField>
                <HeaderTemplate>
               Shiping Address.
                </HeaderTemplate>
                <ItemTemplate>
                    <%#Eval("ShipToAddress")%>
                </ItemTemplate>
            </asp:TemplateField>

               <asp:TemplateField>
                <HeaderTemplate>
               Status.
                </HeaderTemplate>
                <ItemTemplate>
                    <%#Eval("StatusID")%>
                </ItemTemplate>
            </asp:TemplateField>
          
            <asp:TemplateField>
                <HeaderTemplate>
               Memo
                </HeaderTemplate>
                <ItemTemplate>
                    <%#Eval("Memo")%>
                </ItemTemplate>
            </asp:TemplateField>
            

        </Columns>
        <FooterStyle BackColor="White" ForeColor="#000066" />
        <HeaderStyle BackColor="#006699" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="White" ForeColor="#000066" HorizontalAlign="Left" />
        <RowStyle ForeColor="#000066" />
        <SelectedRowStyle BackColor="#669999" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#007DBB" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#00547E" />
   </asp:GridView>--%>
</asp:Content>
